@import "../../styles/variables.scss";

.list-container {
  color: $gray1;
  border-bottom: solid 1px #f0f0f0;
  width: 90%;
  margin: 0 auto;

  ul {
    display: flex;
    justify-content: center;
    margin: 10px 32px;
    gap: 120px;

    li {
      font-size: 12px;
      display: flex;
      gap: 10px;
      align-items: center;
    }

    p {
      strong {
        font-weight: 700;
        color: $pink;
      }
    }
  }
}
