.list-container {
  font-size: 12;
  color: #9f9f9f;
  border-bottom: solid 1px #f0f0f0;

  ul {
    display: flex;
    justify-content: center;
    margin: 10px 32px;
    gap: 120px;

    li {
      display: flex;
      gap: 10px;
      align-items: center;
    }

    p {
      strong {
        font-weight: 700;
        color: #f71963;
      }
    }
  }
}
