.title {
  font-size: 30px;
  font-weight: 700;
  color: #f71963;
  text-align: center;
}

.brands-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 50px 0px 80px 0px;
}
