.header {
  display: flex;
  justify-content: center;
  gap: 60px;
  border-bottom: solid 1px #f0f0f0;
  padding: 12px 0px;
  width: 90%;
  margin: 0 auto;

  .header-icons {
    display: flex;
    align-items: center;

    img {
      margin: 0 15px;
    }
  }
}
