.header {
  display: flex;
  justify-content: center;
  gap: 60px;
  border-bottom:  solid 1px #F0F0F0;
  padding: 12px 0px;

  .header-icons {
    display: flex;
    align-items: center;

    img {
      margin: 0 15px;
    }
  }
}
