@import "../../styles/variables.scss";

.slick-initialized.slick-slider {
  display: flex;

  .arrow-prev,
  .arrow-next {
    background: transparent;
  }
}

.product-container {
  color: $gray3;
  
  .product-item {
    width: 270px;
    padding: 0.5rem;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    margin: 15px 60px;
    
    .discount {
      font-size: 16px;
      text-decoration: line-through;
      color: #808080;
      margin-top: 10px;
    }

    .price {
      font-size: 20px;
      font-weight: 700;
    }

    .half-price {
      font-size: 12px;
      margin-top: 10px;
    }

    .shipping {
      font-size: 12px;
      color: $pink;
      margin: 10px 0px;
    }

    .description {
      font-size: 15px;
      font-weight: 300;
      margin-top: 10px;
    }

    button {
      font-size: 14px;
    }
  }
}
