@import "../../styles/variables.scss";

.related-container {
  .related-categories {
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;

      li {
        border: solid 1px #bdbdbd;
        padding: 12px 70px;

        a {
          color: $gray3;

          &:hover {
            font-weight: 700;
            color: $pink;
          }
        }
      }
    }
  }
}
